body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.profile-card {
	background: rgb(247, 240, 240);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.1);
}

.profile-card img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-card h2 {
	margin: 10px 0;
}

.profile-card p {
	color: #555;
}

.social-links a {
	text-decoration: none;
	color: #0a7df8;
	margin: 0 5px;
}
